.post-list {
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__new-post {
    font-size: 20px;
    width: fit-content;
    background-color: grey;
    padding: 5px;
    border-radius: 5px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  button {
    width: fit-content;
  }
}
